.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.form form {
  width: 300px;
}

.form button {
  background-color: lightcoral;
  border-color: lightcoral;
}

.form button:hover {
  background-color: lightseagreen;
  border-color: lightseagreen;
}

.form input {
  background-color: white;
  border-color: white;
  color: black;
}

.img {
  display: flex;
  justify-content: center;
}

img {
  width: 10%;
  height: 10%;
}

footer {
  text-align: center;
  font-family: sans-serif;
  color: white;
  width: 100%;
  bottom: 0;
  position: relative;
}

.form-group {
  width: 100%;
}

.button-center {
  width: 100%;
  display: flex;
  text-align: center;
}

.login-center {
  display: flex;
  width: 100%;
  text-align: center;
}
