<div class="main">
  <div class="login">
    <a href="auth/login/">
      Log In
    </a>
  </div>
  <div class="container">

    <div class="name">
      <h1>IronFlat Barcelona</h1>
    </div>
    <div class="join">
      <a [routerLink]="['/auth/signup/']">
        <button>Join In</button>
      </a>

    </div>
    <div class="img">
      <img src="../../assets/images/penguin.png" alt="">
    </div>
  </div>
</div>

<footer class="site-footer">

  <p>Copyright BCN WEB</p>
  <p>Cristians and Misha's nice Website</p>

</footer>
