<div class="main">
  <div class="img">
    <img src="../../assets/images/penguin.png" alt="">
  </div>
  <div class="form">

    <form class="login" (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>

      <div class="field" [ngClass]="{'has-error': feedbackEnabled && myFlatname.errors}">
        <label>Flatname</label>
        <input type="text" name="flatname" [(ngModel)]="flat.flatname" #myFlatname="ngModel" required minlength="4" [disabled]="processing"
        />
        <div *ngIf="feedbackEnabled && myFlatname.errors">
          <p *ngIf="myFlatname.errors.required" class="validation">Flatname required</p>
          <p *ngIf="myFlatname.errors.minlength" class="validation">Flatname is too short</p>
        </div>
      </div>

      <div class="field" [ngClass]="{'has-error': feedbackEnabled && myRooms.errors}">
        <label>Rooms</label>
        <input type="number" name="rooms" [(ngModel)]="flat.rooms" #myRooms="ngModel" [disabled]="processing" min="0" max="99" required/>
        <div *ngIf="feedbackEnabled && myRooms.errors">
          <p *ngIf="myRooms.errors.required" class="validation">Give me the amount of rooms motherfucker</p>
        </div>

      </div>
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && myPrice.errors}">
        <label>Price</label>
        <input type="number" name="price" [(ngModel)]="flat.price" #myPrice="ngModel" [disabled]="processing" min="0" required/>

        <div *ngIf="feedbackEnabled && myPrice.errors">
          <p *ngIf="myPrice.errors.required" class="validation">Money</p>
        </div>
      </div>

      <div class="field" [ngClass]="{'has-error': feedbackEnabled}">
        <label>Upload a picture of your appartment</label>
        <input class="addfile" type="file" name="file" [disabled]="processing" ng2FileSelect [uploader]="uploader" required/>
        <!-- <div *ngIf="feedbackEnabled">
      <p *ngIf="mymainPicture.errors.required" class="validation">please upload an image of your appartment</p>
    </div> -->
      </div>

      <div class="field-submit">
        <button type="submit" [disabled]="processing">Add your Flat</button>
        <div *ngIf="feedbackEnabled && myForm.invalid">
          <p class="validation">There are errors in the form, please review the fields</p>
        </div>
      </div>

      <h3>Location</h3>
      <app-map-autocomplete-flatid class="map" (select)="handleLocationSelect($event)"></app-map-autocomplete-flatid>

    </form>
  </div>
</div>
