<!-- pseudo code div-->
<!-- <div *ngIf="req.user admin show buttons ese what ever"> -->

<div>
  <p> {{theFlatmate.user.username}} </p>
  <p> {{theFlatmate.message}} </p>
  <p> {{theFlatmate.date}} </p>
  <!-- <textarea [(ngModel)]="reply" [hidden]="clicked" placeholder="Your Response" [hidden]="!authorized"></textarea> -->
  <button (click)="handleClickAddToFlatmates(theFlatmate.user._id)" [hidden]="clicked" [hidden]="authorized">
    ACCEPT
  </button>
  <button (click)="handleClickRejectToFlatmates(theFlatmate.user._id)" [hidden]="clicked" [hidden]="authorized">
    REJECT
  </button>
</div>
