<header class="site-header">

  <!-- <h1 class="site-title">
    <a [routerLink]="['/flat']">Flat Listing</a>
  </h1> -->

  <div [ngClass]="{'is-user': user, 'is-anon': anon}" class="btn">
    <!-- <div *ngIf="loading">
      <span class="username text">loading...</span>
    </div> -->
    <div *ngIf="!loading && !!user">
      <button (click)="profile()">
        {{user.username}}
      </button>
      <button (click)="logout()">
        Logout
      </button>
      <button routerLink="/flat">
        Flats
      </button>
      <button routerLink="/add-flat">
        Add Flat
      </button>
    </div>
    <!-- <div *ngIf="!loading && anon">
      <a (click)="login()">login</a>
      <a (click)="signup()">signup</a>
    </div> -->
  </div>

</header>

<router-outlet></router-outlet>
