/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightblue;
}

footer {
  text-align: center;
  font-family: sans-serif;
  color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
}
